:root {
    --main-bg-color: #181818;
    --slightly-darker-bg-color: #1d1d1d;
    --slightly-lighter-bg-color: #222222;
    --main-text-color: #FFFFFF;
    --blue-color: #4287f5;
}

* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d2d2d;
    color: #fafafa;
}

h1 {
    font-size: 3rem;
}

@keyframes slideInFromLeft {
    0% {
	transform: translateX(-100%);
    }

    90% {
	transform: translateX(3%);
    }

    100% {
	transform: translateX(0);
    }
}

nav.mainNav {
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
    
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    background-color: #1d1d1d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav.mainNav a {
    text-decoration: none;
}

a {
    color: #4287f5;
    transition: color 200ms ease-in-out;
}

a:hover {
    color: #326fd1;
}

main {
    padding-top: 30px;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    width: 100%;
    text-align: center;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

.twoCol {
    display: inline-flex !important;
    flex-direction: row;
    width: 100%;
}

.col {
    flex: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.col > ul > li {
    font-size: 22px;
}

.projectContainer {
    width: 90%;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 5px 10px;
}

.projectContainer:last-child {
    margin-bottom: 30px;
}

div.references {
    position: absolute;
    width: 100%;
    left: 10%;
    transform: translateX(-50%);
    bottom: 1vh;
}

div.ref {
    margin-top: 60px;
    width: 100%;
}

div.ref p {
    font-size: 20px !important;
    text-align: left;
    padding-left: 22px;
    text-indent: -22px;
}

main.essayContainer * {
    font-family: "Times New Roman", Times, serif;
}

main.essayContainer h3,p {
    text-align: left;
    width: 100%;
}

p.center {
    text-align: center;
}

p.bold {
    font-weight: 700;
}

main.essayContainer > p {
    font-size: 20px;
    text-indent: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 2;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: #4287f5;    
    padding: 8px;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    min-width: 15vw;
}

.dropbtn:hover, .dropbtn:focus {
    color: #4287f5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--slightly-darker-bg-color);
    min-width: 15vw;
    font-size: 1.1rem;
    text-align: center;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    animation: rotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

@keyframes rotateMenu {
    0% {
	transform: rotateX(-90deg)
    }
    70% {
	transform: rotateX(20deg)
    }
    100% {
	transform: rotateX(0deg)
    }
}


@keyframes unRotateMenu {
    0% {
	transform: rotateX(0deg);
    }
    40% {
	transform: rotateX(20deg);
    }
    100% {
	transform: rotateX(-90deg);
	display: none;
    }
}

.dropdown-content a {
    color: var(--blue-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: var(--slightly-lighter-bg-color);}

.show {display: block;}
.hide {
    animation: unRotateMenu 400ms ease-in-out forwards;
    transform-origin: top center;
}

.noindent {
    text-indent: 0 !important;
}
